<section class="newsletter">
  <div class="container">
    <h3>
      Small Business Talk
    </h3>
    <p>
      Every month we send a newsletter discussing what it means to be a small business owner, how to improve your business with technology, and share helpful links, articles and resources.
    </p>
    <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1A73333966069E1B6D49A5BB0838C3A2A3807A711614B656A80E2C5B9FB3F9AEC4AE1D56C19EA209997D51BA4617143151">	
<p>
    <label for="fieldEmail">Email</label>
    <input id="fieldEmail" name="cm-uukid-uukid" type="email" class="js-cm-email-input"
    required />
</p>
<p>
    <button class="js-cm-submit-button" type="submit">Subscribe</button>
</p>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
  </div>
</section>
